body {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    height: 100vh;
    background-color: rgb(29, 35, 51);
    color: white;
    border: 1px solid white;
    font-size: large;
    color:darkblue
  }
  
   main {
    
    text-align: center;
    height: 100%;
  }
  
  div {
    padding: 2rem;
    text-align: left;
    font-size: large;
  } 
  #result{
    font-weight: bolder;
    text-align: center;
  }